@use 'sass:color';

$italian-green: #008C45;
$italian-white: #FFFFFF;
$italian-red  : #CD212A;

$accent-color: #2271B1;
$border-color: color.mix($accent-color, #cccccc, 20%);

$size-xs: 0.75rem;
$size-sm: 0.875rem;
$size-md: 1rem;
$size-lg: 1.125rem;
$size-xl: 1.25rem;

$margin: 8px;
$padding: 8px;
$border-radius: 8px;
