<!-- wp:group {"className":"site-layout"} -->
<div class="wp-block-group site-layout">

    <!-- left sidebar column -->
    <!-- wp:group {"className":"lego-sidebar-left"} -->
    <div class="wp-block-group lego-sidebar-left">
        <!-- blocco widget dinamico collegato alla sidebar registrata -->
        <!-- wp:widget-group {"id":"lego-sidebar-left"} /-->
    </div>
    <!-- /wp:group -->

    <!-- main container column -->
    <!-- wp:group {"className":"main-container"} -->
    <div class="wp-block-group main-container">
        <!-- header area -->
        <a href="/46baweb/">
        <div class="wp-block-group post-header-container">
            <!-- wp:site-tagline /-->
        </div>
        </a>
        <div class="lego-single">
            <!-- single post area -->
            <div class="wp-block-group post-content-container">
                <!-- wp:post-title /-->
                <!-- wp:post-date {"format":"d/m/Y H:i"} /-->
                <div class="lego-post-content-container">
                    <!-- wp:lego/iframe /-->
                </div>
                <!-- wp:post-comments /-->
            </div>
        </div>
        <!-- footer area -->
        <!-- wp:group {"layout":{"type":"constrained"},"className":"footer-content-container"} -->
        <div class="wp-block-group footer-content-container">
            <div class="wp-post-navigation">
            <!-- wp:post-navigation-link {"type":"previous","label":"Articolo precedente","textAlign":"left"} /-->
            <div class="h-spacer"></div>
            <!-- wp:post-navigation-link {"type":"next","label":"Articolo successivo","textAlign":"right"} /-->
            <!-- wp:/post-navigation -->
            </div>
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- right sidebar 1 column -->
    <!-- wp:group {"className":"lego-sidebar-right-1"} -->
    <div class="wp-block-group lego-sidebar-right-1">
        <!-- blocco widget dinamico collegato alla sidebar registrata -->
        <!-- wp:widget-group {"id":"lego-sidebar-right-1"} /-->
    </div>
    <!-- /wp:group -->

    <!-- right sidebar 2 column -->
    <!-- wp:group {"className":"lego-sidebar-right-2"} -->
    <div class="wp-block-group lego-sidebar-right-2">
        <!-- blocco widget dinamico collegato alla sidebar registrata -->
        <!-- wp:widget-group {"id":"lego-sidebar-right-2"} /-->
    </div>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->