<!-- wp:group {"className":"site-layout"} -->
<div class="wp-block-group site-layout">

    <!-- left sidebar column -->
    <!-- wp:group {"className":"lego-sidebar-left"} -->
    <div class="wp-block-group lego-sidebar-left">
        <!-- blocco widget dinamico collegato alla sidebar registrata -->
        <!-- wp:widget-group {"id":"lego-sidebar-left"} /-->
    </div>
    <!-- /wp:group -->

    <!-- main container column -->
    <!-- wp:group {"className":"main-container"} -->
    <div class="wp-block-group main-container">

        <!-- header area -->
        <!-- wp:group {"layout":{"type":"constrained"},"className":"post-header-container"} -->
        <div class="wp-block-group post-header-container">
            <!-- wp:site-tagline /-->
        </div>
        <!-- /wp:group -->

        <!-- content area -->
        <!-- wp:group {"layout":{"type":"constrained"},"className":"post-content-container"} -->
        <div class="wp-block-group post-content-container">
            <!-- wp:query {"query":{"perPage":10,"order":"desc","orderBy":"date"}} -->
            <div class="wp-block-query">
                <!-- wp:post-template -->
                <!-- wp:group {"className":"post-excerpt"} -->
                <div class="wp-block-group post-excerpt">
                    <!-- wp:post-title {"isLink":true} /-->
                    <!-- wp:post-date {"format":"d/m/Y H:i"} /-->
                    <!-- wp:post-excerpt /-->
                </div>
                <!-- /wp:group -->
                <!-- /wp:post-template -->

                <!-- wp:query-pagination -->
                <!-- wp:query-pagination-previous /-->
                <!-- wp:query-pagination-numbers /-->
                <!-- wp:query-pagination-next /-->
                <!-- /wp:query-pagination -->
            </div>
            <!-- /wp:query -->

        </div>
        <!-- /wp:group -->

        <!-- footer area -->
        <!-- wp:group {"layout":{"type":"constrained"},"className":"footer-content-container"} -->
        <div class="wp-block-group footer-content-container">
            <!-- wp:site-footer /-->
        </div>
        <!-- /wp:group -->

    </div>
    <!-- /wp:group -->

    <!-- right sidebar 1 column -->
    <!-- wp:group {"className":"lego-sidebar-right-1"} -->
    <div class="wp-block-group lego-sidebar-right-1">
        <!-- blocco widget dinamico collegato alla sidebar registrata -->
        <!-- wp:widget-group {"id":"lego-sidebar-right-1"} /-->
    </div>
    <!-- /wp:group -->

    <!-- right sidebar 2 column -->
    <!-- wp:group {"className":"lego-sidebar-right-2"} -->
    <div class="wp-block-group lego-sidebar-right-2">
        <!-- blocco widget dinamico collegato alla sidebar registrata -->
        <!-- wp:widget-group {"id":"lego-sidebar-right-2"} /-->
    </div>
    <!-- /wp:group -->

</div>
<!-- /wp:group -->